
.jumbotron {
    padding: 6rem 1rem;
    margin-bottom: unset;
    background-color: #ffbb00;
    border-radius: .3rem;
}
.btn{
  background-color: #bfdeff;
}
.card-body{
    background-color:  #f7f7f7;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  
  .alert.success {background-color: #4CAF50;}
  .alert.info {background-color: #2196F3;}
  .alert.warning {background-color: #ff9800;}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .heading1{
    font-size: 0.8rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .paragraph1{
    font-size: 0.4rem;
    color: #584949;
  }
  .paragraph2{
    font-size: 0.4rem;
    color: #584949;
  }
  .heading2{
    font-size: 0.8rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .card-title{
    font-size: 0.5rem;
  }
  .card-text{
    color: #584949;
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }

  .btn-success{
    font-size: 70%;
  }
  .btn-info{
    font-size: 70%;
  }
  img{
    width: 100%;
  }
  .button-scan-qr{
    width: 25%;
    background-color: aquamarine;
    border-radius: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  

  .heading1{
    font-size: 1rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .heading2{
    font-size: 1rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .paragraph1{
    font-size: 0.7rem;
    color: #584949;
  }
  .paragraph2{
    font-size: 0.7rem;
    color: #584949;
  }
  .card-title{
    font-size: 0.8rem;
  }
  .card-text{
    color: #584949;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  h5{
    font-size: 0.8rem;
  }
  p{
    color: #584949;
    font-size: 0.7rem;
    margin-bottom: 0rem;
  }
  .btn-success{
    font-size: 70%;
  }
  .btn-info{
    font-size: 70%;
  }

  img{
    width: 100%;
  }
  .button-scan-qr{
    width: 20%;
    background-color: aquamarine;
    border-radius: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .heading1{
    font-size: 3rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .heading2{
    font-size: 3rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .paragraph1{
    font-size: 1rem;
  }
  .paragraph2{
    font-size: 1rem;
  }
  .card-title{
    font-size: 2.5rem;
  }
  .card-text{
    color: #584949;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  img{
    width: 100%;
  }
  .button-scan-qr{
    width: 25%;
    background-color: aquamarine;
    border-radius: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  .heading1{
    font-size: 3.5rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .heading2{
    font-size: 3.5rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .paragraph1{
    font-size: 1.1rem;
  }
  .paragraph2{
    font-size: 1.1rem;
  }
  .card-title{
    font-size: 3rem;
  }
  .card-text{
    color: #584949;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  .button-scan-qr{
    border-radius: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .heading1{
    font-size: 4rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .heading2{
    font-size: 4rem;    
    color: darkorange;
    font-variant: small-caps;
  }
  .card-title{
    font-size: 3.5rem;
  }
  .card-text{
    color: #584949;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .paragraph1{
    font-size: 1.5rem;
  }
  .paragraph2{
    font-size: 1.5rem;
  }
  .button-scan-qr{
    border-radius: 40px;
  }
}


body, input {
  font-size:14pt
}
input, label {
  vertical-align:middle
}
.qrcode-text {
  padding-right:1.7em; margin-right:0
}
.qrcode-text-btn {
  display:inline-block; 
  background:url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg) 50% 50% no-repeat; 
  height:1em; 
  width:1.7em; 
  margin-left:-1.7em; 
  cursor:pointer
}
.qrcode-text-btn > input[type=file] {
  position:absolute; 
  overflow:hidden; 
  width:1px; 
  height:1px; 
  opacity:0
}

.button-scan-qr {
  position: relative;
  overflow: hidden;
}
.button-scan-qr input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

	