
/*LOADER*/

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .loading-gif {
		position: absolute;
		/* top: 50%; */
		/* left: 50%; */
		margin: 0 auto;
		height: 100px;
		width: 100px;
		margin-top: 70%;
		margin-left: 40%;
		
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.loading-gif {
		position: absolute;
		/* top: 50%; */
		/* left: 50%; */
		margin: 0 auto;
		height: 100px;
		width: 100px;
		margin-top: 60%;
		margin-left: 40%;
		
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.loading-gif {
		position: absolute;
		/* top: 50%; */
		/* left: 50%; */
		margin: 0 auto;
		height: 100px;
		width: 100px;
		margin-top: 60%;
		margin-left: 45%;
		
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .loading-gif {
		position: absolute;
		/* top: 50%; */
		/* left: 50%; */
		margin: 0 auto;
		height: 100px;
		width: 100px;
		margin-top: 60%;
		margin-left: 45%;
		
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.loading-gif {
		position: absolute;
		/* top: 50%; */
		/* left: 50%; */
		margin: 0 auto;
		height: 100px;
		width: 100px;
		margin-top: 20%;
		margin-left: 45%;
		
	}

}



