.pagination {
    margin: 0;
}

tr.group, tr.group:hover {
	background-color: #ddd !important;
}

td.nowrap {
	white-space: nowrap;
}

.content-wrapper, .right-side {
    background-color: #ffebcc;
}


.sidebar-collapse .sidebar-ap >li .label.label-badge {
	position : relative;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    display: inherit;
}
.sidebar-ap >li .label.label-badge {
	display: none;
}

.btn-flat.btn-small{
	padding: 1px;
}

.main-header .sidebar-toggle:before {
    content: "";
}

#qrcode {
  width:10px;
  height:10px;
  margin-top:15px;
}

.qrcode-text {
  padding-right:1.7em; margin-right:0
}
.qrcode-text-btn {
  display:inline-block; 
  background:url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg) 50% 50% no-repeat; 
  height:1em; 
  width:1.7em; 
  margin-left:-1.7em; 
  cursor:pointer
}
.qrcode-text-btn > input[type=file] {
  position:absolute; 
  overflow:hidden; 
  width:1px; 
  height:1px; 
  opacity:0
}

.button-scan-qr {
  position: relative;
  overflow: hidden;
}

.div .imgBarcode{
	img{
	height:200px;
	width:100px;
	}
}
.button-scan-qr input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}